@use '../styles/colors.module.scss' as colors;

.main {
  background-color: colors.$yellow;
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 5rem;

  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: 100%;
    gap: 50px;
    height: auto;
    padding: 5rem 2rem;
  }
}

.leftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  flex-basis: 50%;
}

.titleContainer {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 54px;
  color: colors.$purple;
  margin: 0;
  margin-bottom: 1rem;
  text-shadow: 3px 3px colors.$black;
}

.subtitle {
  color: colors.$orange;
  font-size: 42px;
  margin: 0;
  text-shadow: 3px 3px colors.$black;
}

.primaryButton {
  font-family: 'Press Start 2P', cursive;
  font-weight: 500;
  border: 1px solid colors.$black;
  background-color: colors.$pink;
  box-shadow: 3px 3px colors.$black;
  color: colors.$black;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px colors.$black;
  }
}

.socialButtonsContainer {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}

.secondaryButton {
  font-family: 'Press Start 2P', cursive;
  font-weight: 500;
  border: 2px solid colors.$black;
  box-shadow: 2px 2px colors.$pink, 3px 3px colors.$black;
  background-color: colors.$black;
  color: colors.$white;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;

  & > svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: colors.$white;
  }

  &:hover {
    box-shadow: 1px 1px colors.$pink, 2px 2px colors.$black;
  }
}

.consoleContainer {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.console {
  background: colors.$purple;
  height: 700px;
  width: 400px;
  border: 2px solid colors.$black;
  border-radius: 15px;
  box-shadow: 8px 8px colors.$black;
  display: flex;
  flex-direction: column;

  @media (max-width: 900px) {
    height: 600px;
    width: 350px;
  }
}

.topContainer {
  background-color: colors.$black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 60%;
  border-radius: 15px 15px 0 0;
  padding: 1rem;
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  padding: 1.5rem 2.5rem;

  @media (max-width: 900px) {
    padding: 1rem;
  }
}

.speakers {
  align-self: flex-end;
}

.fakeButtons {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;

  div {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.fakeRoundedButton {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: colors.$black;
}

.fakeLongButton {
  height: 15px;
  width: 45px;
  border-radius: 15px;
  background-color: colors.$black;
}

.actionButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.saveButton {
  font-family: 'Press Start 2P', cursive;
  font-weight: 500;
  border: 1px solid colors.$black;
  background-color: colors.$pink;
  box-shadow: 3px 3px colors.$black;
  color: colors.$black;
  padding: 15px;
  border-radius: 50%;
  height: 80px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px colors.$black;
  }
}

.consoleActionButton {
  font-family: 'Press Start 2P', cursive;
  font-weight: 500;
  border: 1px solid colors.$black;
  background-color: colors.$orange;
  box-shadow: 3px 3px colors.$black;
  color: colors.$black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px colors.$black;
  }
}

.consoleButtonsContainer {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.pixelArtTable {
  border-collapse: collapse;
  margin: 0 auto;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: colors.$white;
  border-radius: 15px;

  & > tbody > tr {
    & > td {
      transition: background 0.15s;
      border: 1px solid colors.$black;
      min-width: 0.5vmin;
      width: 0.5vmin;

      &:hover {
        background: rgba(40, 40, 40, 0.3);
      }
    }
  }
}

.colorPicker {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
