@use '@styles/variables.scss' as variables;
@use '@styles/mixins.scss' as mixins;
@use '@styles/buttons.scss' as *;

.leftContainer {
  @include mixins.flex-center(column);
  flex-basis: 50%;
  height: 100%;
}

.titleContainer {
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.title {
  @include mixins.text-shadow;
  color: variables.$purple;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  @include mixins.text-shadow;
  color: variables.$orange;
  font-size: 2.5rem;
}

.socialButtonsContainer {
  @include mixins.flex-center;
  gap: 1rem;
  margin: 1.5rem 0;
}
