@use 'styles/variables.scss' as variables;
@use 'styles/mixins.scss' as mixins;
@use 'styles/buttons.scss' as *;

.leftContainer {
  @include mixins.flex-center(column);
  flex-basis: 50%;
  height: 100%;
}

.titleContainer {
  text-align: center;
  width: 80%;

  & > p {
    margin-bottom: 0.5rem;

    & > span {
      font-weight: 600;
      font-size: 1.2rem;
      text-shadow: 1px 1px variables.$black;
    }
  }

  #purple {
    color: variables.$purple;
  }

  #orange {
    color: variables.$orange;
  }

  #pink {
    color: variables.$pink;
  }
}

.title {
  @include mixins.text-shadow;
  color: variables.$purple;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  @include mixins.text-shadow;
  color: variables.$orange;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.socialButtonsContainer {
  @include mixins.flex-center;
  gap: 1rem;
  margin: 1rem 0;
}
