html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Required to print pixel art without borders */
.no-borders > tbody > tr > td {
  border: none !important;
}
