@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin text-shadow($color: black) {
  text-shadow: 0.2rem 0.2rem $color;
}
