// COLORS
$yellow: #f4e171;
$purple: #7677f4;
$orange: #f68813;
$pink: #f093b0;
$white: #ffffff;
$black: #000000;

// MEDIA BREAKPOINTS
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// OTHER
$border-radius: 1rem;
